@import "tailwindcss";

:root {
  --background: #070b10;
  --cyan: #05f3fc;
  --graphite: #1C1C1C;
  --purple: #3e29d8;
  --silver: #d9dbdd;
  --teal: #006D77;
  --gray: #d9dbdd;
}

@theme inline {
  --color-background: var(--background);
  --font-heading: var(--font-heading-sans);
  --font-body: var(--font-body-sans);
  --color-cyan: var(--cyan);
  --color-graphite: var(--graphite);
  --color-purple: var(--purple);
  --color-silver: var(--silver);
  --color-teal: var(--teal);
  --color-gray: var(--gray);
  
}


body {
  height: 100%;
  background-color: var(--background);
  font-family: "Inter", sans-serif;
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
