@import 'tailwindcss';

:root {
  --background: #ffffff;
  --heading: #24177a;
  --text: #030013;
  --button: #3e29d8;
  --secondary-background: #f6f6ff;
  --secondary-text: #f9f8fd;
  --hover-color: #2ca2eb;
}

@theme inline {
  --color-background: var(--background);
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
  --color-button: var(--button);
  --color-secondary-background: var(--secondary-background);
  --color-secondary-text: var(--secondary-text);
  --color-text: var(--text);
  --color-heading: var(--heading);
  --color-hover: var(--hover-color);
}

body {
  height: 100%;
  background-color: var(--background);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
